@model PosterTask.Models.Post

@{
    ViewData["Title"] = "Create";
    SelectList users = new SelectList(ViewBag.Users, "Id", "Name");
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Likes" class="control-label"></label>
                <input asp-for="Likes" class="form-control" />
                <span asp-validation-for="Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Share" class="control-label"></label>
                <input asp-for="Share" class="form-control" />
                <span asp-validation-for="Share" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (Context.Session.GetString("UserName") is null)
                {
                    <label asp-for="UserId" class="control-label"></label>
                    <br />
                    <select asp-for="UserId" asp-items="users">
                        <option value="" selected disabled>Choose One</option>
                    </select>

                }
                else
                {
                    <label for="name" class="control-label">User Name</label>
                    <input class="form-control" name="UserId" value=@Context.Session.GetInt32("UserId") hidden>

                     
                     <input class="form-control" id="name" value=@Context.Session.GetString("UserName") disabled ></input>
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="GetAll">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
